html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Arial";
  background-color: white;
}
header {
  position: sticky;
  display: flex;
  justify-content: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  height: 36px;
  background-color: #2196f3;
}
main {
  display: block;
  margin: 0 15% 0 15%;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 24px;
  padding: 4px 0 0 0;
  margin: 0;
  background-color: #2196f3;
}
.copyright {
  color: lightgrey;
  text-align: center;
}
.copyright a {
  text-decoration: none;
  color: inherit;
}
header div {
  padding: 8px 16px 8px 16px;
  background-color: #2196f3;
}
header div:hover {
  -webkit-filter: brightness(0.7);
}
header div a {
  text-decoration: none;
  color: white;
}
input {
  border-radius: none;
  background-color: #61d6ff;
  border: none;
  padding: 10px;
  border: solid 1px black;
  border-radius: 0;
}
input:hover {
  background-color: #2196f3;
}
button {
  background-color: #41b6ff;
  padding: 8px 16px 8px 16px;
  margin-top: 8px;
  border: none;
  cursor: pointer;
  border: solid 1px black;
  border-radius: 0;
}
button:hover {
  background-color: #0176d3;
}
.fillingBox {
  height: 60px;
}

@media only screen and (max-width: 500px) {
  main {
    margin: 5%;
  }
}
