meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name="Description" content="Potikreff user-service client")
meta(name="author" content="Mikołaj Cankudis")
meta(name="application-name" content="Potikreff user-service")
meta(name="theme-color" content="#000044")
