doctype html
html
  head
    include ../elements/head
    style
      include ../styles/main.css
    script
      include ../scripts/functions.js
  body
    header
      include ../elements/navbar
    main(style="text-align: center")
      h1 Login to potikreff account
      form#loginForm
        label Username
        br
        input#username(type="username")
        br
        label Password
        br
        input#password(type="password")
        br
        button(type="submit") Login
      .fillingBox
    footer
      include ../elements/footer
    script.
      const loginForm = document.getElementById('loginForm');
      loginForm.addEventListener('submit', (e) => {
        e.preventDefault();
        toast('Logging in');
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const formData = {username: username, password: password}
        fetch("/user/login", {
          method: "POST",
          headers: {
              "Content-Type": "application/json",
          },
          referrer: "no-referrer",
          body: JSON.stringify(formData)
        })
        .then(async(res) => {
          if(!res.ok) res.text().then(text => toast(text, 4000, {backgroundColor: 'red'}));
          else {
            let data = await res.json();
            localStorage.setItem('token', data.token);
            localStorage.setItem('reissueToken', data.reissueToken);
            localStorage.setItem('username', data.user.username);
            localStorage.setItem('_id', data.user._id);
            toast('Successfully logged in', 4000, {backgroundColor: '#9ccc65'})
            window.location.href="/profile";
          }
        });
      })
