doctype html
html
  head
    include ../elements/head
    style
      include ../styles/main.css
    script
      include ../scripts/functions.js
  body
    header
      include ../elements/navbar
    main
      h2(style="text-align: center") Hello 
        span#usernameDisplay
      h3 Welcome to your account management panel!
      form#usernameForm
        h4(style="margin: 0") You can change your username:
        label New username
        br
        input#newUsername(type="text")
        br
        label Password
        br
        input#password(type="password")
        br
        button(type="submit") Confirm
      form#passwordForm
        h4(style="margin: 10px 0 0 0") Or you can change your password:
        label New password
        br
        input#newPassword(type="password")
        br
        label Old password
        br
        input#password2(type="password")
        br
        button(type="submit") Confirm
      .fillingBox
    footer
      include ../elements/footer
    script
      include ../scripts/app.js
