doctype html
html
  head
  include ../elements/head
  style
    include ../styles/main.css
  body
    header
      include ../elements/navbar
    main(style="text-align: center")
      h1 Set a new password for your account
      form(action="/user/password/reset" method="POST")
        label Password
        br
        input(type="password" name="password")
        input(type="hidden" name="token" value=token)
        br
        button(type="submit") Confirm
      .fillingBox
    footer
      include ../elements/footer
